body{
    background-color: #11c76f;
}

h1, h2, h3 {
    text-align: center;
}

h1{
    text-decoration:underline;
}

h2, p, li {    
    font-family: Arial, Helvetica, sans-serif;
}

main{
    border: 2px solid blue;
    background-color: #eff0e8;
    width: 400px;
    border-radius: 60px;
    margin: auto;
    padding: 15px 10px 40px 10px;
}

li{
    background-color: blue;
    border-radius: 10px;
    text-align: center;
    list-style: none;
    color: #eff0e8;
    margin-right: 50px;
    padding: 25px;
}

button{
    background-color: #11c76f;
    border-radius: 20px;
    margin-left: 130px;
    padding: 12px 20px 12px 20px;
}